   .footersection{
    background-color:#f3f3f3;
    height:32rem;
    width:84.2rem;
    /* border: 1px solid rgb(165, 20, 117); */
   
   
    }

    .footerbox{
        /* height: 23rem; */
        width:100%;
        background-color: #f3f3f3;
        padding: 3rem 0 1.5rem 0;
    }
    
    .footrow {
        display: flex;
        line-height:1rem;
 
    }
    
    .foot{
        display:flex;
        width:52rem;
    }
    
    .footcol {
        width: 18rem;
        margin-left:7rem;
       
    }
    
    .footerright {
        width: 22rem;
    }
    .line1{
        height:19rem;
        margin-top: 1rem;;
        border:1px solid rgb(226, 224, 224);
    }
    .horz{
        width: 98%;
        margin: auto;
        border:1px solid rgb(226, 224, 224);
    }