

/* ------------HEADER CSS------------------------ */

.main{
    width:84.30rem;
    background-color: #008ecc;
    height:4.4rem; 
    position: fixed;
    top: 0;
    z-index: 5;
    /* border:1px solid red; */
}
.navbar {
    display: grid;
    grid-template-columns: 7rem 7rem 52rem 10rem 8rem;
    align-items: center;
    text-align: center;
    color: white;
    height:4.4rem;
    background-color: #008ecc;
    /* border:1px solid rgb(38, 36, 161); */

}
.menu{
    margin-left:2rem;
    margin-bottom: 1rem;
    height:3rem;
    font-size: 2rem;
    cursor: pointer;
    /* border:1px solid rgb(161, 92, 14); */

}

.nameLogo {
    height:3rem;
    /* border:1px solid rgb(138, 172, 18); */

}

.jio{
    font-weight:700;
    height:1.8rem;
    font-size:1.6rem;
    /* border:1px solid rgb(4, 119, 33); */

}

.beta{
    font-size:0.7rem;
    margin-left:4rem;
    font-weight:600;
    /* border:1px solid rgb(14, 118, 145); */

}



.navicon {
  display:flex;
    cursor: pointer;
    /* border:1px solid rgb(59, 59, 61); */

}

 .navText {
  margin: auto;
    font-size:0.8rem;
    font-weight: 600;
    margin-left:0.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.signU{
    margin-top:0.3rem;
    /* border:1px solid rgb(72, 9, 124); */
    position: fixed;
  bottom: 0;
  right: 0; 
}





