.navStart{
    height:2.2rem;
    width:84.30rem;
    background-color:#f3f3f3;
    font-family:Jio-Light;
    margin-bottom:10rem;
    margin-top:4.4rem ;
    /* border:1px solid red; */
    position: fixed;
    top: 0;
    z-index: 1;
    }

     a{
        text-decoration: none;
      }
    
      .mainnav{
        display: flex;
        margin:auto;
        justify-content:space-around;
        
      }
    
      .dropdown {
        display:flex;
        position: relative;
        width:8.2rem;
        margin:auto;
        
      }
    
      .location{
        font-size:"1.5rem";
        height:auto;
        width:1rem; 
        margin:"auto";
      }
    
      .deliver{
        height:2.1rem;
        width:6rem;
        margin:auto;
      }
      .write{
        height:0.6rem;
      }
    
      .dropbtn {
        color: black;
        width:auto;
        font-size: 0.8rem;
        font-family: Avenir-Next,sans-serif;
        padding-top:0.2rem;
        font-weight:600;
      }
      
      .downkey:hover{
        transition: transform 0.4s;
        transform: rotate(180deg) translateY(-0.1px) translateX(-0.1rem);      
    }
    
      .dropdownContent {
        display: none;
        margin-top: 2.2rem;
        position: absolute;
        background-color: #ececed;
        width: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 1;
        padding:1.2rem;
      }
      
      a{
        text-decoration: none;
      }
     
      .dropdownContent a {
        color: black;
        padding: 1rem 1rem;
        text-decoration: none;
        display: block;
        z-index: 2;
      }
      .flexContent{
      display:flex;
      gap:50px;
      font-size: 3rem;
      color: black;
      font-weight: lighter;
      line-height: normal;
      z-index: 3;
      }
      
      .oneby{
        list-style: none;
        font-weight:500;
        height:2.5rem;
        width:14rem;
        font-size:1rem;
        color:#000;
      }
    
      .oneby:hover {
        background-color: white;
        color:#008ecc;
      }
    
      .dropdownContent a:hover {background-color: white;}
      
      .dropdown:hover .dropdownContent {display: block;}
      
      
    
      
    
      


