.maindiv{
    height: 1880px;
    width: 910px;
    padding: 16px;
    background-color: rgb(255,255,255);
}
.title{
    width: 800px;
    height: 17px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1px;
    color: rgba(21,27,57,.6);
    margin: 0 0 16px;
    text-transform: uppercase;
}
.productdiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 12px ;
    row-gap: 12px;
}