.container {
  /* background: #F6F6F7; */
  display: grid;
  grid-template-columns: 58% 39%;
  grid-gap: 2%;
  padding: 2.5%;
  justify-content: center;
}

.heading {
  font-size: 24px;
  font-family: jioBold;
}
.address-container {
  background: white;

  padding: 2%;
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dynamic-div {
  display: grid;
  grid-gap: 15px;
}
.default-address {
  width: 60%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.04);
}
.address button {
  background: #089cdb;
  color: white;
  border: transparent;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  font-family: jioBold;
  outline: none;
  align-self: flex-end;
}
/* .pay-details{
    display: grid;
    
} */

/* .pay-details{
    
} */
.bill {
  background: white;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 15px;
}

.bill div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 0.4px solid rgba(122, 118, 118, 0.3);
}
.bill div:nth-last-of-type(1) {
  border-bottom: 0px solid rgba(0, 0, 0, 0.3);
  color: #00a100;
}

.bill div p {
  font-size: 14px;
  font-family: jioMedium;
  padding: 5px;
  margin: 0;
}
.pay-btn {
  display: flex;
  justify-content: flex-end;
}
.pay-btn button {
  background: #089cdb;
  color: white;
  border: transparent;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  font-family: jioBold;
  outline: none;
  /* align-self: flex-end; */
  margin-bottom: 1%;

}
@media screen and (max-width: 600px) {
  .address {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .address button {
    align-self: center;
  }
  .default-address {
    width: 90%;
    margin-bottom: 5%;
  }
  .bill {
    margin-top: 2%;
    margin-bottom: 10px;
  }
}
.payment {
  background: white;
  margin-top: 20px;
  padding: 5% 2%;
}

.payment-option button {
  background: #089cdb;
  color: white;
  border: transparent;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  font-family: jioBold;
  outline: none;
  align-self: flex-end;
}
@media only screen and (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
