.footer-section{
    background-color:#f3f3f3;
    height:32rem;
    border: 1px solid red;
    margin-top: 4rem;
    }
    .container{
        /* height: 23rem; */
        width:100%;
        background-color: #f3f3f3;
        padding: 3rem 0 1.5rem 0;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;  
    }
    
    .footer{
        display:flex;
        width:52rem;
    }
    
    .footer-col {
        width: 18rem;
        margin-left:7rem;
       
    }
    
    .footer-col-right1 {
        width: 22rem;
    }
    h4{
        color:#000;
    }
    ul {
        margin-top:0.6rem;
        list-style: none;
        color: rgb(121, 121, 121);
        font-size:0.8rem;
        font-weight:100;
        line-height:1.5rem;
    }
    
    
    .line1{
        border:1px solid gray;
        height:20rem;
        width:0.1rem;
        margin-left:6rem;
       
        
    }
    .footer-col-right1 p {
        font-size: 0.8rem;
        line-height: 0.9rem;
        text-decoration: none;
        color: rgb(121, 121, 121);
        margin-bottom: 1rem;
        font-weight:100
    }
    
    .footer-col-right1 p span {
        color: #008ecc;
    }
    
    .bottom {
        height:4.5rem;
        margin:auto;
    }
    
    .last {
       display: flex;
       height:2rem;
       justify-content:space-around;
       font-size:0.8rem;
    }
    