

/* ------------HEADER CSS------------------------ */
.merge{
    position:fixed;
    top:0;
    z-index: 5;
}
.main{
    background-color: #008ecc;
    height:4.4rem; 
    
}
.navbar {
    display: grid;
    grid-template-columns: 7rem 7rem 52rem 10rem 8rem;
    align-items: center;
    text-align: center;
    color: white;
    height:4.4rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #008ecc;

}
.menu{
    margin-left:4rem;
    height:3rem;
    font-size: 2rem;
    cursor: pointer;
}

.nameLogo {
    height:3rem;
}

.jio{
    font-weight:700;
    height:1.8rem;
    font-size:1.6rem;
}

.beta{
    font-size:0.7rem;
    margin-left:4rem;
    font-weight:600;
}

.searchItem {
    
    outline-style: none;
}

.navbar .navinnerdiv>div {
    display: inline-block;
    vertical-align: top;
}

.navicon {
    cursor: pointer;
}

.navbar .navText {
    font-size:0.8rem;
    font-weight: 600;
    margin-left:0.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.signU{
    margin-top:0.3rem;
}

.navbar input {
    width: 50rem;
    height: 2.3rem;
    border-radius: 0.3rem;
    border: none;
    padding-left: 1rem;
}


.Nav-start{
    height:2.2rem;
    width:85.2.01rem;
    background-color:#f3f3f3;
    font-family:Jio-Light;
    margin-bottom:10rem;
  
    }
     a{
        text-decoration: none;
      }
    
      .main-header{
        display: flex;
        margin:auto;
        justify-content:space-around;
        
      }
    
      .dropdown {
        display:flex;
        position: relative;
        width:8.2rem;
        margin:auto;
        
      }
    
      .location{
        font-size:"1.5rem";
        height:auto;
        width:1rem; 
        margin:"auto";
      }
    
      .deliver{
        height:2.1rem;
        width:6rem;
        margin:auto;
      }
      .write{
        height:0.6rem;
      }
    
      .dropbtn {
        color: black;
        width:auto;
        font-size: 0.8rem;
        font-family: Avenir-Next,sans-serif;
        padding-top:0.2rem;
        font-weight:600;
      }
      
      .downkey:hover{
        transition: transform 0.4s;
        transform: rotate(180deg) translateY(-0.1px) translateX(-0.1rem);      
    }
    
      .dropdown-content {
        display: none;
        margin-top: 2.2rem;
        position: absolute;
        background-color: #ececed;
        width: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 1;
        padding:1.2rem;
      }
      
      a{
        text-decoration: none;
      }
     
      .dropdown-content a {
        color: black;
        padding: 1rem 1rem;
        text-decoration: none;
        display: block;
        z-index: 2;
      }
      .flex-content{
      display:flex;
      gap:50px;
      font-size: 3rem;
      color: black;
      font-weight: lighter;
      line-height: normal;
      z-index: 3;
      }
      
      li{
        list-style: none;
        font-weight:500;
        height:2.5rem;
        width:14rem;
        font-size:1rem;
        color:#000;
      }
    
      li:hover {
        background-color: white;
        color:#008ecc;
      }
    
      .dropdown-content a:hover {background-color: white;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      
    
      
    
      


